<section id="about" style="min-height: vh; padding-top: 8rem;">
    <h2 style="text-align: center; font-size: 3dvh;">About Me</h2>
  
    <div style="width: 90%; margin: 2rem auto; display: flex; flex-direction: column; align-items: center;">
      
      <div style="text-align: left; width: 100%;">
        <p style="font-size: 1.25rem;">I am a dedicated and innovative software engineer with a B.Tech in Computer Science and Social Sciences
            from IIIT Delhi. My experience includes developing Android applications, particularly enhancing user experiences
            for the elderly through smart technology integration. I’ve worked on diverse projects, from implementing
            machine learning algorithms to creating engaging mobile games. My technical expertise spans Kotlin, Java, Python,
            and various development tools.
            <br><br>
            Currently, I am an associate software engineer at Biz2Credit, where I continue to hone my skills and contribute
            to impactful software solutions. I thrive in collaborative environments and am passionate about using technology
            to solve real-world problems. Outside of work, I engage in community service and lead initiatives that promote
            creativity and learning.</p>
        <div style="margin-top: 1rem;">
        </div>
      </div>
    </div>
  </section>

  